.dates {
  /* height:44px; */
  background: #333;
    border-left: 4px solid #444444;
  border-radius: 2px;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 24px;
  margin-right: 3%;
  padding: 12px;
  transition: all 250ms ease-in-out;
  vertical-align: top;
  width: 100%;
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.dateinfo{
  float: right;
  font-size: .75rem;
}

.starttoend{
  float: left;
  font-size: .75rem;
}

.MuiTimelineSeparator-root{
margin-left: .5rem !important;
margin-right: .5rem !important;
}

.MuiTimelineOppositeContent-root, .MuiTimelineContent-root{
}

.summary{
font-size: .75rem !important;
}

.mt{
  margin-top: 3rem;
  width: 12rem;
  padding: 1rem !important;
}

.rt{
  margin-bottom: 2rem;
}

.line-heading--break {
  display: block;
  font-size: 1.25rem;
  text-align: left;
}

.heading-wrapper {
  width: 90%;
  display: block;
  text-align: center;
}

[class*=line-heading] {
  color: #000;
  position: relative;
  font-size: 1.5rem;
  text-shadow: 0 0 5px #aaa;
}

.work {
  margin: 0;
  padding: 0;
}

.position {
  text-align: center;
  position: relative;
  margin: 50px auto;
}

.position h6 {
  font-family: arial;
  color: #333;
  font-size: 1rem;
  text-align: center;
  margin: 0 30px;
  text-transform: uppercase;
}

.position span {
  display: inline-block;
  position: absolute;
  background: #ccc;
  height: 3px;
  left: 50%;
}

.position {
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h6.brackets {
  /* position: relative;
  padding: 0;
  margin: 0;
  text-align: center; */
  margin: 0;
}

h6.brackets:before,
h6.brackets:after {
  content: '<';
  display: inline-block;
  position: relative;
  top: 1px;
  height: 100%;
  font-size: 1.5em;
  color: #46cc46;
  margin-left: .5rem;
  margin-right: .5rem;
  transition: all 0.5s ease;
}

h6.brackets:after {
  content: '>';
}

h6.brackets:hover:before {
  transform: translateX(-5px);
}

h6.brackets:hover:after {
  transform: translateX(5px);
}

.banner-h2 {
  color: #fff;
  background: #333;
  border: 1px solid #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  font-size: 1rem;
  text-shadow: .1rem .1rem 0px #000;
  position: inherit;
}

.banner {
  border-top: 3px #333 solid;
  border-bottom: 3px #333 solid;
  text-align: center;
  margin: 0 auto;
  position: relative;
  margin-top: 3rem;
}

.banner-h2:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  right: -20px;
  border: 1rem solid #333;
  border-right: 10px solid transparent;
  border-left-width: 10px;
}

.banner-h2:before {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: -20px;
  border: 1rem solid #333;
  border-left: 10px solid transparent;
  border-right-width: 10px;
}
